<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"np-main","layout":{"type":"default"}} -->
<main class="wp-block-group np-main">
<!-- wp:group {"className":"np-portal","layout":{"type":"default"}} -->
<div class="wp-block-group np-portal">
<!-- wp:group {"className":"np-col-left","layout":{"type":"default"}} -->
<div class="wp-block-group np-col-left">

<!-- wp:group {"className":"np-section np-hot-news-wrap","layout":{"type":"constrained"}} -->
<div class="wp-block-group np-section np-hot-news-wrap">

<!-- wp:group {"className":"np-tab","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group np-tab">
<!-- wp:paragraph {"className":"np-tab-item np-tab-active"} -->
<p class="np-tab-item np-tab-active">热点要闻</p>
<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->

<!-- wp:query {"queryId":21,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"},"className":"np-hotnews"} -->
<div class="wp-block-query np-hotnews">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:post-title {"isLink":true} /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:query {"queryId":22,"query":{"perPage":8,"pages":0,"offset":6,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"},"className":"np-focuslist"} -->
<div class="wp-block-query np-focuslist">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:post-title {"isLink":true} /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->

</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->
<!-- wp:group {"className":"np-col-right","layout":{"type":"default"}} -->
<div class="wp-block-group np-col-right">

<!-- wp:group {"className":"np-section np-carousel-wrap","layout":{"type":"constrained"}} -->
<div class="wp-block-group np-section np-carousel-wrap">
<!-- wp:query {"queryId":24,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"},"className":"np-carousel"} -->
<div class="wp-block-query np-carousel">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"className":"np-carousel-item","layout":{"type":"default"}} -->
<div class="wp-block-group np-carousel-item">
<!-- wp:post-featured-image {"isLink":true,"scale":"cover"} /-->
<!-- wp:post-title {"isLink":true,"className":"np-carousel-title"} /-->
</div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"className":"np-empty"} -->
<p class="np-empty">暂无内容，请先发布带特色图片的文章。</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"hot-words","tagName":"div"} /-->

<!-- wp:group {"className":"np-section np-ads","layout":{"type":"default"}} -->
<div class="wp-block-group np-section np-ads">
<!-- wp:shortcode -->[np_ad slot="1"]<!-- /wp:shortcode -->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"np-section np-local-wrap","layout":{"type":"constrained"}} -->
<div class="wp-block-group np-section np-local-wrap">

<!-- wp:group {"className":"np-sec-head","layout":{"type":"flex","justifyContent":"space-between","verticalAlignment":"center"}} -->
<div class="wp-block-group np-sec-head">
<!-- wp:heading {"level":2,"className":"np-sec-title"} -->
<h2 class="wp-block-heading np-sec-title">新闻资讯 <span class="np-sec-en">NEWS</span></h2>
<!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"np-local-cols","layout":{"type":"default"}} -->
<div class="wp-block-group np-local-cols">
<!-- wp:group {"className":"np-local-focus-col","layout":{"type":"default"}} -->
<div class="wp-block-group np-local-focus-col">
<!-- wp:heading {"level":3,"className":"np-sub-title"} -->
<h3 class="wp-block-heading np-sub-title">焦点资讯</h3>
<!-- /wp:heading -->
<!-- wp:query {"queryId":110,"query":{"perPage":8,"pages":0,"offset":14,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"}} -->
<div class="wp-block-query np-local-focus">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:post-title {"isLink":true,"className":"np-list-title"} /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"np-local-zixun-col","layout":{"type":"default"}} -->
<div class="wp-block-group np-local-zixun-col">
<!-- wp:heading {"level":3,"className":"np-sub-title"} -->
<h3 class="wp-block-heading np-sub-title">更多资讯</h3>
<!-- /wp:heading -->
<!-- wp:query {"queryId":111,"query":{"perPage":8,"pages":0,"offset":22,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"}} -->
<div class="wp-block-query np-local-zixun">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:post-title {"isLink":true,"className":"np-list-title"} /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"np-local-pic-col","layout":{"type":"default"}} -->
<div class="wp-block-group np-local-pic-col">
<!-- wp:heading {"level":3,"className":"np-sub-title"} -->
<h3 class="wp-block-heading np-sub-title">新闻图片</h3>
<!-- /wp:heading -->
<!-- wp:query {"queryId":112,"query":{"perPage":1,"pages":0,"offset":14,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"},"className":"np-local-pic"} -->
<div class="wp-block-query np-local-pic">
<!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"className":"np-local-pic-item","layout":{"type":"default"}} -->
<div class="wp-block-group np-local-pic-item">
<!-- wp:post-featured-image {"isLink":true,"scale":"cover"} /-->
<!-- wp:post-title {"isLink":true,"className":"np-local-pic-title"} /-->
</div>
<!-- /wp:group -->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
